<link href="static/css/main.css" rel="stylesheet">
<div data-v-02ef77e1="">
    <div class="panel">
      <div class="big-title">
        <span class="c2709">IMPART</span>
      </div>
      <div class="row">
        <div class="cell">
          <div class="row">
            <div class="cell">
            </div>
            <div class="cell">
            </div>
            <img src="static/image/welcome.jpg" class="c2413"/>
            <div class="cell">
            </div>
          </div>
        </div>
      </div>
      <div class="c1850">
        <span id="ia5dk" class="c847">Click the word below and enjoy it with us !</span>
        <br/>
      </div>
      <div class="welcome-img">
        <a class="c1976" href="{{ url_for('auth.login') }}">Happiness</a>
      </div>
      <div class="wechat-group">
      </div>
      <div class="description">© 2022 Guoyulun. 版权所有
      </div>
    </div>
  </div>