<h1>Hello,World!👊</h1>
<p><img alt="" src="https://img.shields.io/badge/-Python-E34F26?style=flat-square&amp;logo=python&amp;logoColor=white" />
<img alt="" src="https://img.shields.io/badge/-CSS3-1572B6?style=flat-square&amp;logo=css3" />
<img alt="" src="https://img.shields.io/badge/-JavaScript-oringe?style=flat-square&amp;logo=javascript" />  </p>
<h2>Introduction😋</h2>
<h3><strong>1. About Me</strong></h3>
<ul>
<li>👋 Hi, I’m <strong>Yulun Guo</strong></li>
<li>👀 I’m interested in <strong>Abstract</strong></li>
<li>🌱 I’m currently learning <strong>Communication Engineering</strong></li>
<li>💞️ I’m looking to collaborate on <strong>Impart Philosophy</strong></li>
<li>📫 How to reach me <strong><a href="https://www.zhihu.com/people/hsbhdsha">Zhihu Page</a></strong></li>
</ul>
<h3><strong>2. Education</strong></h3>
<ul>
<li>✍ <strong><a href="https://www.shu.edu.cn/">Carleton University</a></strong> —— Chinese Philosophy —— Bachelor's Degree</li>
<li>✍ <strong><a href="https://www.whu.edu.cn/">Society University</a></strong> —— Impart Philosophy —— Master's Degree</li>
</ul>
<h3><strong>3. Interested</strong></h3>
<ul>
<li>😇 <strong>Steam</strong><br />
This is my <strong>Steam</strong> page ---&gt; <strong><a href="https://steamcommunity.com/profiles/76561199030548825/">My Steam Page</a></strong><br />
<strong>(Terraria is the best game!)</strong></li>
<li>👯‍♀️ <strong>Impart</strong><br />
You can see that I'm studying <strong>Impart Philosophy</strong> in Society University now,but you may not know what the <strong>Impart Philosophy</strong> is.<br />
<strong>❤If you want to understand what the Impart is and how to use the Impart Philosophy to evaluate the whole world around us,please click the link below and join us !</strong><br />
👉 <strong><a href="https://tse2-mm.cn.bing.net/th/id/OIP-C.dFs-uMarweZg64slgQcncwHaHa?pid=ImgDet&amp;rs=1">Enjoy Impart Philosophy</a></strong> 👈<br />
<strong>❤You can also click the link below to get a rough idea of the Impart Philosophy if you don't want to join us now !</strong><br />
👉 <strong><a href="https://tse2-mm.cn.bing.net/th/id/OIP-C.dFs-uMarweZg64slgQcncwHaHa?pid=ImgDet&amp;rs=1">Brief Introduction of Impart</a></strong> 👈  </li>
<li>💻 <strong>code</strong><br />
Now I'm interested in <strong>Embedded System</strong>,<strong>Signal Processing</strong>,<strong>Mathematics</strong> and <strong>English</strong>.<br />
When I am coding, I usually use <strong>Python</strong> and <strong>C++</strong> to complete my work.</li>
</ul>
<h2>Why I Create this Website🤗</h2>
<p><strong>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp To be honest,I create this website just for freedom,so the font-end and back-end are too worst,as you can see my introdaction page is copied from my <a href="https://github.com/YulunGuo">Github page</a>,they are totally the same.</strong><br />
<strong>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Although I am not good at front-end and back-end,I put all my passion in this web project among these three days.I just want to ceate a place for someone can commucate with each without any political leanings,this is "The Pure Land of the Network"(may be) !</strong><br />
<strong>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp My goal seems very naive,but this is the real original intention that I establish it and I sincerely hope you can give me some advice and enjoy this naive web,just like "impart" !</strong><br />
<strong>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Enjoy Impart Hub !</strong></p>
<h2>In the End🥰</h2>
<p><a href="https://git.io/typing-svg"><img alt="Typing SVG" src="https://readme-typing-svg.demolab.com?font=Fira+Code&amp;pause=1000&amp;color=06151C&amp;width=435&amp;lines=See+you+again!" /></a><br />
<img align="center" alt="GIF" src="../static/image/login.jpg" /></p>